

body {
    margin: 0;
    background-color: black;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0%;
    z-index: 1;
    color: white;
    padding: 15px 60px;
}

header .branding {
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

header .branding .brand-name span {
    /* font-family: cursive; */
    font-size: 2.2rem;
}

header .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 15px;
    font-size: 1.2rem;
    color: gray;

}

header .menu .active {
    color: white;
}

header .profile-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 1.5rem;
}

header .profile-section img {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    margin-left: 9px;

}







/* Main container */

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;

}


.main-container .slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container .slogan p {
    margin: 0;
    color: #EBF5CB;
    font-size: 1.3rem;

}

.main-container .slogan h1 {
    font-size: 5rem;
    margin: 0;
    margin-bottom: 40px;
    color: #BDE986;
}





/* Search bar */
.search-bar {
    display: flex;
    align-items: center;
}

.search-bar i {
    position: relative;
    z-index: 999;
    margin-right: -40px;
    font-size: 1.5rem;
}

.search-bar input {
    width: 35vw;
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    color: white;
    border-radius: 20px 0 0 20px;
    outline: none;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-size: 1.5rem;
    transition: 0.3s all ease-out;
    padding-left: 50px;
}

.search-bar input:hover {
    width: 40vw;
}

.search-bar input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.751);
}


.search-bar button {
    position: relative;
    z-index: 999;
    padding: 20px 20px;
    background-color: rgba(255, 37, 37, 0.503);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 0 20px 20px 0;
    border: 1px solid rgb(255, 37, 37);
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s all ease-out;
}

.search-bar button:hover {
    background-color: rgba(255, 37, 37, 0.714);
}





/* Food cards */

.food-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    margin: 20px;
    margin-top: 40px;
}

.food-cards .card {
    height: 250px;
    width: 300px;
    background-color: rgba(18, 23, 28, 0.847);
    border-radius: 30px;
}












/* Styling for background images */
.background-design {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: -2;
}

.background-design .bg-img1 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 90vh;
    top: 5vh;
    left: -20vw;
    transform: rotate(90deg);
}

.background-design .bg-img2 {
    position: absolute;
    bottom: 0;
    right: -230px;
    height: 50vh;
}

.background-design .bg-img3 {
    height: 50vh;
    position: absolute;
    /* margin-left: auto;
    margin-right: auto;
    left: 0; */
    right: -170px;
    top: 0;
    
}


.background-design .bg-img4 {
    height: 35vh;
    position: absolute;
    left: 40vw;
    top: 0;
    
}



.overlay {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 2;
    
}

.random-blob1 {
    height: 500px;
    width: 500px;
    position: absolute;
    bottom: 10px;
    margin-left: 120px;
    background-color: #0093E9;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    border-radius: 50%;
    z-index: 0;
}

.random-blob2 {
    height: 500px;
    width: 500px;
    position: absolute;
    bottom: 10px;
    right: 0;
    margin-right: 120px;
    background-color: #0093E9;
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
        border-radius: 50%;
    z-index: 0;
    /* box-shadow: 20px 0 200px 10px #ff252559; */

}

.random-blob3 {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 10px;
    right: 100px;
    /* box-shadow: 0 0 20px 10px #b565da9c; */
    background-color: #0093E9;
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    border-radius: 50%;
    z-index: 0;
}